html,
body {
    height: 100%;
    font-family: 'Montserrat', sans-serif;
    background-color: #808080;
}

.errado{
    background-color: #cc0000 !important;
    color: #000 !important;
    border-bottom: 1px solid #C8C8C8;
    border-collapse: collapse;
    text-align: center;
    padding: 10px;
    margin-bottom: 40px;
    font-size: 0.9em;
}

.correto{
    background-color: #4ee44e !important;
    color: #000 !important;
    border-bottom: 1px solid #C8C8C8;
    border-collapse: collapse;
    text-align: center;
    padding: 10px;
    margin-bottom: 40px;
    font-size: 0.9em;
}

.corrigido {
    background-color: #cccc00 !important;
    color: #000 !important;
    border-bottom: 1px solid #C8C8C8;
    border-collapse: collapse;
    text-align: center;
    padding: 10px;
    margin-bottom: 40px;
    font-size: 0.9em;
}

table.dataframe, .dataframe th, .dataframe td {
    border: none;
    border-bottom: 1px solid #C8C8C8;
    border-collapse: collapse;
    text-align: center;
    padding: 10px;
    margin-bottom: 40px;
    font-size: 0.9em;
}

.niceTable th {
    background-color: #6aa6ed;
    color: white;
}

tr:nth-child(odd) {
    background-color: #eee;
}

tr:nth-child(even) {
    background-color: #fff;
}

tr:hover {
    background-color: #ffff99;
}

.btn {
    margin: 2px 2px;
}